.woman-container {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  background-color: #c81a79;
  padding: 10px;

}

.card-woman-container {
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset ,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px , rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  margin: 1.8%;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  width: 300px;
  background-color: white;
}

.card-woman-container:hover {
  transform: scale(1.1);
}

.text-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.wine-picture {
  width: 150px;
}

.wine-text{
  font-size:10px;
  text-align: justify;
}

.wine-title {
  font-size: 16px;
  text-align: center;
}


.socio-container, .nao-socio-container{
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  line-height: 0;
}

.btt-add {
  margin-top: 1%;
  margin-left: 15%;
}

.btt-style {
  background-color: #7ebc43;
  border: none;
  display: flex;
  font-size: 16px;
  outline: none;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  color: white;
}

.btt-style:hover {
  cursor: pointer;
  font-weight: 700;
}

.socio-container{
  color: black;
  font-weight: 700;
}
.nao-socio-container{
  color: gray;
  font-weight: 600;
}

.wine-price-socio {
  color: #c81a79;
  font-size: 18px;
  padding: 5px;
}
