.plans-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: center;
}

.plan-card {
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset ,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px , rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.plan-price {
    margin-left: 20px;
}

.plan-card:hover {
  transform: scale(1.1);
}

.promocao {
    background-color: #F79552;
    border-radius: 10px;
}

.assine {
    background-color: #7EBC43;
    border-radius: 4px;
}

.footer-card {
    margin-left: 20px;
}

.brinde {
  font-size: 10px;
}
